# Tipo de base de datos: 'postgres' o 'mysql'
DB_TYPE=postgres

# Conexión
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=stockmanager

JWT_SECRET=stockmanager_secret_2026
PORT=3000

